<div class="main posts-index">
  <div class="container">
    <div class="search-button">
      <%= link_to("全て表示", "/posts/index") %>
      <%= link_to("犬のみ表示", "/posts/index/dogs") %>
      <%= link_to("猫のみ表示", "/posts/index/cats") %>
      <%= link_to("オスのみ表示", "/posts/index/male") %>
      <span class="now"><%= link_to("メスのみ表示", "/posts/index/female") %></span>
    </div>
    <% @posts.each do |post| %>
    <% user = User.find_by(id: post.user_id) %>
    <% likes = Like.where(post_id: post.id) %>
      <div class="posts-index-item">
        <%= image_tag "/sample.jpg" %>
        <span class="names">
          <span class="name"><%= link_to(post.name, "/posts/#{post.id}") %></span>
          <% if post.gender == "オス" %>
            <i class="fas fa-mars gender male"></i>
            <% else %>
            <i class="fas fa-venus gender female"></i>
          <% end %>
          <% likes.each do |like| %>
            <% if like.user_id == @current_user.id %>
              <i class="fas fa-star liked-star"></i>
            <% end %>
          <% end %>
        </span>
        <span class="user">投稿者：<%= user.name %></span>
        <span class="age">年齢：<%= post.age %>歳</span>
        <span class="breed">品種：<%= "#{post.animal}/#{post.breed}" %></span>
      </div>
    <% end %>
  </div>
</div>
